*{
    background-color: 'blue'!important;
}
input{
    width:"75%";
    background-color:white !important;
    color: black !important;
}

.images{
    display: grid;
     padding: 5px;
     column-gap: 2px;
     grid-template-columns: repeat(4, 1fr);
     width: 40px !important; 
     width: 40px !important;

}
images img{
  width: 40px !important;
  height: 40px !important;
  justify-content: space-around;
}